{
    "presets": [
        "react"
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "react.createElement"
            }
        ],
        "transform-class-properties"
    ]
}