$overlay_item_size: 14px;
$overlay_item_font_size: 10px;
$overlay_item_side_padding: 2px;
$overlay_item_block_offset: 4px;

$checkerboard_color_1: white;
$checkerboard_color_2: #ccc;
$checkerboard_size: 16px;
$checkerboard_position: 8px;

$delete_background_btn_offset: 5px;
$delete_background_btn_size: 22px;
$delete_background_btn_svg_size: 12px;

$drop_zone_size: 3px;

.backgrounds {
    .drop_zone {
        @include border;

        position: absolute;
        border-color: transparent;
        outline: $drop_zone_size dashed;
        outline-offset: (-$drop_zone_size);
        cursor: alias;
    }

    .background {
        @include border;

        /* stylelint-disable-next-line max-line-length */
        background-image: linear-gradient(45deg, $checkerboard_color_2 25%, transparent 25%), linear-gradient(-45deg, $checkerboard_color_2 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $checkerboard_color_2 75%), linear-gradient(-45deg, $checkerboard_color_1 75%, $checkerboard_color_2 75%);
        background-size: $checkerboard_size $checkerboard_size;
        /* stylelint-disable-next-line max-line-length */
        background-position: 0 0, 0 $checkerboard_position, $checkerboard_position (-$checkerboard_position), (-$checkerboard_position) 0;
        user-select: none;
        cursor: move;

        &.color {
            background-image: unset;
        }

        &.animated {
            animation: var(--fade_in);
        }

        &.deleted {
            animation: var(--fade_out);
        }

        .ui {
            @include full_spread;

            position: absolute;

            &.selected {
                @include background_outline;
            }
        }

        &.dragged {
            position: fixed;
            opacity: 0.7;
            pointer-events: none;

            .ui {
                &.selected {
                    outline: none;
                }
            }
        }

        img {
            display: block;
        }

        .delete_background_btn {
            position: absolute;
            top: $delete_background_btn_offset;
            right: $delete_background_btn_offset;
            width: $delete_background_btn_size;
            height: $delete_background_btn_size;
            border-radius: 50%;
            background-color: #d53a3a;
        }

        .delete_background_btn:hover {
            background-color: #d60000;
        }

        .delete_background_btn svg {
            position: absolute;
            width: $delete_background_btn_svg_size;
            height: $delete_background_btn_svg_size;
            top: $delete_background_btn_offset;
            right: $delete_background_btn_offset;
            fill: white;
        }

        .action_btns_w {
            position: absolute;
            top: unset !important;
            bottom: $overlay_item_size + 4px;
            left: 2px;
            box-shadow: rgb(0 0 0 / 60%) 0 0 2px, rgb(0 0 0 / 60%) 0 4px 8px;

            .btn {
                height: $overlay_item_size;
                width: 100%;
                padding-left: $overlay_item_side_padding;
                padding-right: $overlay_item_side_padding;
                margin: 0;
                font-size: $overlay_item_font_size;
                text-align: left;
                border: 0;
                outline: 0 !important;
                background-color: white;
                color: $black;

                &:hover {
                    background-color: #beffba;
                }
            }

            hr {
                margin: 0;
                background-color: #bbb;
            }
        }

        .overlay_item.background_index {
            position: absolute;
            top: $overlay_item_block_offset;
            left: $overlay_item_block_offset;
        }

        .overlay_item {
            position: absolute;
            max-width: calc(100% - #{$overlay_item_block_offset * 2 + 4});
            height: $overlay_item_size;
            bottom: $overlay_item_block_offset;
            left: $overlay_item_block_offset;
            padding-left: $overlay_item_side_padding;
            padding-right: $overlay_item_side_padding;
            font-size: $overlay_item_font_size;
            background-color: $black;
            opacity: 0.85;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.info {
                pointer-events: none;
                overflow: hidden;
            }

            &.background_type {
                bottom: 20px;
            }

            &.background_dims {
                bottom: 36px;
            }

            &.actions {
                opacity: 1;
                background-color: rgb(47 47 157 / 85%);

                &:hover,
                &.is_opened {
                    background-color: rgb(42 108 38 / 85%);
                }
            }
        }
    }
}
