$img_height: 94px;
$overlay_item_size: 14px;
$overlay_item_font_size: 10px;
$overlay_item_side_padding: 2px;
$overlay_item_block_offset: 4px;

$checkerboard_color_1: white;
$checkerboard_color_2: #ccc;
$checkerboard_size: 16px;
$checkerboard_position: 8px;

$delete_background_btn_offset: 5px;
$delete_background_btn_size: 22px;
$delete_background_btn_svg_size: 12px;

span.background {
    @include border;

    position: relative;
    height: $img_height;
    max-width: 400px;
    min-width: 80px;
    user-select: none;
    cursor: move;
    margin-right: $gap;
    margin-bottom: $gap;

    &.color {
        background-image: unset;
    }

    &.animated {
        animation: var(--fade_in);
    }

    &.deleted {
        animation: var(--fade_out);
    }

    .thumbnail_w {
        @include full_dims;
    }

    .img_thumbnail {
        @include checkerboard_gradient;

        height: $img_height;
        width: 100%;
        opacity: 0;
    }

    .color_thumbnail {
        @include full_dims;

        opacity: 0;
    }

    .color {
        @include full_spread;

        position: absolute;
        z-index: -1;
    }

    .ui {
        @include full_spread;

        position: absolute;

        &.selected {
            @include background_outline;
        }
    }

    img {
        display: block;
    }

    .delete_background_btn {
        position: absolute;
        top: $delete_background_btn_offset;
        right: $delete_background_btn_offset;
        width: $delete_background_btn_size;
        height: $delete_background_btn_size;
        border-radius: 50%;
        background-color: #d53a3a;
    }

    .delete_background_btn:hover {
        background-color: #d60000;
    }

    .delete_background_btn svg {
        position: absolute;
        width: $delete_background_btn_svg_size;
        height: $delete_background_btn_svg_size;
        top: $delete_background_btn_offset;
        right: $delete_background_btn_offset;
        fill: white;
    }

    .action_btns_w {
        position: absolute;
        top: unset !important;
        bottom: $overlay_item_size + 4px;
        left: 2px;
        box-shadow: rgb(0 0 0 / 60%) 0 0 2px, rgb(0 0 0 / 60%) 0 4px 8px;

        .btn.text {
            width: 100%;
            margin: 0;
            border: 0;
            outline: none;
            font-size: $overlay_item_font_size;
            background-color: white;
            color: $black;
            height: $overlay_item_size;
            padding-left: $overlay_item_side_padding;
            padding-right: $overlay_item_side_padding;
            text-align: left;

            &:hover {
                background-color: #beffba;
            }
        }

        hr {
            margin: 0;
            background-color: #bbb;
        }
    }

    .overlay_item.background_index {
        position: absolute;
        top: $overlay_item_block_offset;
        left: $overlay_item_block_offset;
    }

    .overlay_item {
        position: absolute;
        max-width: calc(100% - #{$overlay_item_block_offset * 2 + 4});
        height: $overlay_item_size;
        bottom: $overlay_item_block_offset;
        left: $overlay_item_block_offset;
        padding-left: $overlay_item_side_padding;
        padding-right: $overlay_item_side_padding;
        font-size: $overlay_item_font_size;
        background-color: $black;
        opacity: 0.85;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.info {
            pointer-events: none;
            overflow: hidden;
        }

        &.background_type {
            bottom: 20px;
        }

        &.background_dims {
            bottom: 36px;
        }

        &.actions {
            opacity: 1;
            background-color: rgb(47 47 157 / 85%);

            &:hover,
            &.is_opened {
                background-color: rgb(42 108 38 / 85%);
            }
        }
    }
}

.dragged_background .background {
    position: fixed;
    z-index: 2;
}
