@use 'codemirror/lib/codemirror.css';
@use 'codemirror/theme/mdn-like.css';
@use 'codemirror/theme/material-palenight.css';
@use 'codemirror/theme/material-ocean.css';
@use '../../../node_modules/@loftyshaky/shared/scss/shared/vars' as loftyshaky_vars;
@use '../../../node_modules/@loftyshaky/shared/scss/shared/mixins';
@use 'vars';

$code_editor_offset: (loftyshaky_vars.$main_margin * 2) + (vars.$section_padding * 4) +
    loftyshaky_vars.$border_width;

.code_editor {
    position: fixed;
    padding: loftyshaky_vars.$gap;
    margin-top: loftyshaky_vars.$main_margin + vars.$section_padding + loftyshaky_vars.$border_width;
    width: calc(100% - #{$code_editor_offset});
    height: calc(100% - #{$code_editor_offset});
    box-shadow: vars.$popup_shadow;
    z-index: vars.$popup_z_index;
    overflow: auto;

    .top_controls {
        margin-bottom: loftyshaky_vars.$gap;
    }

    .custom_code_help {
        font-size: loftyshaky_vars.$font_small;
    }

    .code_editor_inner {
        height: calc(100% - 70px);

        .edit_areas {
            display: flex;
            height: 100%;

            .edit_area {
                position: relative;
                width: 100%;

                &:not(:first-child) {
                    margin-left: loftyshaky_vars.$gap;
                }

                .name.js {
                    margin-left: 2px;
                }

                /* stylelint-disable-next-line selector-class-pattern */
                .CodeMirror {
                    @include mixins.border;

                    position: absolute;
                    margin-top: loftyshaky_vars.$gap_small;
                    left: 0;
                    width: 100%;
                    height: calc(100% - 28px);
                    font-size: loftyshaky_vars.$font_small;
                }
            }
        }
    }
}
