@use '../../../node_modules/@loftyshaky/shared/scss/shared/vars';
@use '../../../node_modules/@loftyshaky/shared/scss/shared/mixins';

$drop_zone_size: 3px;

.drop_zone {
    @include mixins.border;

    margin-right: vars.$gap;
    border-color: transparent;
    outline: $drop_zone_size dashed;
    outline-offset: (-$drop_zone_size);
    cursor: alias;
}
