.main {
    padding: 0;
    cursor: default !important;
    height: unset;
}

.main_2 {
    padding: 0;
    display: flex;
    justify-content: center;
    height: unset;
    max-width: unset;
    margin: unset;
    box-shadow: none;
}
