@use '../../../node_modules/@loftyshaky/shared/scss/shared/vars';

.offers {
    .top_bar {
        order: unset;
        margin-top: 0;
        margin-bottom: vars.$gap;
    }

    .offer img {
        margin-right: 0;
    }
}
