.scheduler {
    position: fixed;
    width: 300px;
    height: calc(100vh - #{($main_margin * 2) + ($section_padding * 4) + $border_width * 2});
    top: $main_margin + $section_padding + $border_width;
    padding: $gap;
    z-index: 2;
    box-shadow: rgb(0 0 0 / 30%) 0 0 2px, rgb(0 0 0 / 30%) 0 4px 8px;

    .top_controls {
        display: flex;
        justify-content: flex-end;
    }

    .date_picker {
        .input_item,
        .input_w {
            width: 100%;
        }
    }

    .btn.add_new_task {
        margin-left: auto;
    }
}
