$backgrounds_section_max_width: 922px;

.offers {
    border: 0;

    .offers_inner {
        margin: 0;
    }
}

.sections {
    overflow: hidden;
    flex-grow: unset;

    &.settings {
        min-width: max-content;
    }

    &.backgrounds {
        position: relative;
        max-width: $backgrounds_section_max_width + 16px + 2px;
        width: 100%;
    }

    .section {
        @include border;

        width: min-content;
        box-shadow: rgb(0 0 0 / 30%) 0 3px 8px;

        &.admin {
            .input_item.options_page_theme {
                display: none;
            }
        }

        .input_item {
            &.color_of_area_around_background {
                display: inline-block;
            }

            &.color_of_area_around_background_global {
                display: inline-block;
                margin-left: $gap !important;
                vertical-align: 6px;
            }

            &.video_volume_global,
            &.video_speed_global {
                margin-left: $gap !important;
            }

            &.group .input_item.text {
                width: 100%;

                .input_w {
                    width: 100%;
                }
            }
        }

        .row {
            display: flex;
            flex-flow: row wrap;
        }

        &.backgrounds {
            position: fixed;
            max-width: $backgrounds_section_max_width;
            width: 100%;
            height: calc(100vh - 34px);
            margin-left: 0;
        }

        .section_content {
            padding: $section_padding;
            overflow: hidden !important;
        }

        &.backgrounds .section_content {
            padding: 0;
        }

        &.backgrounds .section_content .scrollable {
            overflow-y: auto !important;
            overflow-x: hidden !important;
            box-sizing: border-box;
            padding: 0;
            padding-left: $gap;
            padding-top: $gap;
            display: flex;
            flex-wrap: wrap;
            align-content: start;
        }

        .section_name {
            @include border_bottom;

            margin: 0;
            width: 100%;
            padding: 5px $section_padding;
            font-size: $font_big;
            box-sizing: border-box;
        }
    }
}
