.backgrounds {
    .background,
    .action_btns_w,
    .dragged_background {
        transition: var(--transition);
        transition-property: opacity;
    }

    .section_content {
        transition: var(--transition) !important;
        transition-property: opacity !important;
    }
}
