.backgrounds .background,
.backgrounds .action_btns_w,
.backgrounds .dragged_background,
.scheduler,
.scheduler .dragged_task {
    transition: var(--transition);
    transition-property: opacity;
}

.section_content {
    transition: var(--transition) !important;
    transition-property: opacity !important;
}
