@import 'template_focus';

.body {
    background: $gqb;
}

.main,
.main_2,
.sections {
    background-color: $hfb;
}

.section {
    border-color: $hev;
    background-color: $tbn;
}

.section_name {
    background-color: $yos;
    border-color: $hev;
}

.drop_zone {
    outline-color: $pxd;
}

.backgrounds {
    .background {
        border-color: $lpe;

        .ui.selected {
            outline-color: $pxd;
        }
    }
}

.scheduler {
    .background_preview {
        border-color: $rbp;
    }

    .drop_zone {
        outline-color: $iub;
    }

    .tasks {
        .task {
            border-color: $hev;
            background-color: $htm;
        }

        /* stylelint-disable-next-line selector-class-pattern */
        .scrollable {
            border-color: $hev;
        }
    }

    input,
    button,
    select {
        color: $rbp;
    }

    select {
        background-image: linear-gradient(45deg, transparent 50%, $rbp 50%),
            linear-gradient(135deg, $rbp 50%, transparent 50%),
            linear-gradient(to right, $rbp, $rbp);

        option {
            color: $rbp;
        }
    }

    .input_item {
        .inset_border::before {
            outline-color: $hev;
        }

        .input {
            background-color: $gaq;
        }
    }
}

.code_editor {
    .edit_areas {
        .edit_area {
            /* stylelint-disable-next-line selector-class-pattern */
            .CodeMirror {
                border-color: $hev;
            }
        }
    }
}

.scheduler,
.code_editor {
    color: $rbp;
    background-color: $htc;

    ::selection {
        background-color: $hgb !important;
    }

    ::-webkit-scrollbar-track {
        background-color: $gaq;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $hev;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: $rbp;
    }

    ::-webkit-scrollbar-track:horizontal,
    ::-webkit-scrollbar-track:vertical {
        border-color: $hev;
    }

    .btn.text_input {
        background-color: $gaq;

        svg {
            fill: $rbp;
        }
    }

    .btn.icon_btn {
        svg {
            fill: $rbp;
        }
    }
}

.code_editor,
.main .scheduler,
.input_item.color {
    .btn.text {
        color: $rbp;
        background-color: $gaq;
        outline-color: $hev;

        &:hover {
            background-color: $hyv;
        }
    }
}

.progress_w {
    background-color: $beu;

    .progress {
        border-color: $rbp;

        &::-webkit-progress-bar {
            background-color: $htc;
        }

        &::-webkit-progress-value {
            background-color: $yun;
        }
    }

    .text {
        color: $rbp;
    }
}

.pagination {
    border-color: $yuv;

    .pagination_btn {
        background-color: $npw;
        border-color: $hyn;

        a {
            color: $lpe;
        }

        &.active {
            background-color: $yos;
        }

        &:hover {
            background-color: $qgp;
        }
    }
}
