.keyboard .backgrounds .background .ui:focus {
    outline-color: $uzf;
}

.keyboard .backgrounds .background .delete_background_btn:focus {
    background-color: #ab57b7;
}

.keyboard .backgrounds .background .overlay_item:focus {
    background-color: rgb(143 48 155 / 85%);
}

.keyboard .backgrounds .background .action_btns_w .btn:focus {
    background-color: #f7bbff;
}
