/* stylelint-disable selector-class-pattern */

@use 'template_focus';

.body {
    background: var(--gqb);
}

.main,
.main_2,
.sections {
    background-color: var(--hfb);
}

.section {
    border-color: var(--hev);
    background-color: var(--tbn);
}

.section_name {
    background-color: var(--yos);
    border-color: var(--hev);
}

.drop_zone {
    outline-color: var(--pxd);
}

.backgrounds {
    .background {
        border-color: var(--lpe);

        .ui.selected {
            outline-color: var(--pxd);
        }
    }
}

.scheduler {
    .background_preview {
        border-color: var(--rbp);
    }

    .drop_zone {
        outline-color: var(--iub);
    }

    .tasks {
        .task {
            border-color: var(--hev);
            background-color: var(--htm);
        }

        .scrollable {
            border-color: var(--hev);
        }
    }

    input,
    button,
    select {
        color: var(--rbp);
    }

    select {
        background-image:
            linear-gradient(45deg, transparent 50%, var(--rbp) 50%),
            linear-gradient(135deg, var(--rbp) 50%, transparent 50%),
            linear-gradient(to right, var(--rbp), var(--rbp));

        option {
            color: var(--rbp);
        }
    }

    .input_item {
        .inset_border::before {
            outline-color: var(--hev);
        }

        .input {
            background-color: var(--gaq);
        }
    }
}

.code_editor {
    .edit_areas {
        .edit_area {
            .CodeMirror {
                border-color: var(--hev);
            }
        }
    }
}

.main:not(.loading_screen) {
    .scheduler,
    .code_editor {
        color: var(--rbp);
        background-color: var(--htc);

        ::selection {
            background-color: var(--hgb) !important;
        }

        ::-webkit-scrollbar-track {
            background-color: var(--gaq);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--hev);
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: var(--rbp);
        }

        ::-webkit-scrollbar-track:horizontal,
        ::-webkit-scrollbar-track:vertical {
            border-color: var(--hev);
        }

        .btn.text_input {
            background-color: var(--gaq);

            svg {
                fill: var(--rbp);
            }
        }

        .btn_w.icon_btn .btn {
            svg {
                fill: var(--rbp);
            }
        }
    }
}

.code_editor,
.main .scheduler,
.input_item.color {
    .btn_w .btn.text {
        color: var(--rbp);
        background-color: var(--gaq);
        outline-color: var(--hev);

        &:hover {
            background-color: var(--hyv);
        }
    }
}

.code_editor,
.main .scheduler {
    .input_item.select .input_w::after {
        border-top-color: var(--rbp);
    }
}

.progress_w {
    background-color: var(--beu);

    .progress {
        border-color: var(--rbp);
        background-color: var(--htc);

        &::-webkit-progress-bar {
            background-color: var(--htc);
        }

        &::-webkit-progress-value,
        &::-moz-progress-bar {
            background-color: var(--yun);
        }
    }

    .text {
        color: var(--rbp);
    }
}

.pagination {
    border-color: var(--yuv);

    .pagination_btn {
        background-color: var(--npw);
        border-color: var(--hyn);

        a {
            color: var(--lpe);
        }

        &.active {
            background-color: var(--yos);
        }

        &:hover {
            background-color: var(--qgp);
        }
    }
}
