@use '../../../node_modules/@loftyshaky/shared/scss/shared/mixins';

.background_container {
    @include mixins.full_spread;

    position: fixed;
    display: flex;
    contain: layout paint;
}

.repeated_video {
    position: absolute;
}
