$home_btn_size: 22px;

.home_btn {
    display: unset !important;
    position: fixed;
    cursor: pointer;
    outline: none;
    z-index: 2;

    svg {
        width: $home_btn_size;
        height: $home_btn_size;
        display: block;
        stroke: white;
        stroke-width: 1px;
        fill: $black;
    }
}
