.img {
    cursor: not-allowed;
}

.not_allowed_to_drop:after, .not_allowed_to_drop_folder:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}

.not_allowed_to_drop .subtree {
    pointer-events: none;
}