/*> mature */
.a-na-d-bb { 
    position: relative;
    top: -115px;
    right: -6px;
}
/*< mature */

.cntfelph.btn {
    border-radius: 2px;
    border: 1px solid #212121;
    background-color: #fbff75;
    color: #212121;
    cursor: pointer;
}

.cntfelph.btn:hover {
    background-color: #77ff6f;
}

.cntfelph.btn:active {
    background-color: #f493ff;
}

.g-U-c-Ph-Lh + .ff_install_btn_w {
    margin-right: 56px;
}

.cntfelph.ff_install_btn {
    float: right;
    margin-top: 7px;
    padding: 2px 8px 2px 8px;
}

.btn-apply + .cntfelph.ff_install_btn_w, .btn-apply + .ff_install_btn_w .cntfelph.ff_install_btn {
    float: left;
}

.undo_btn_w_2, .cntfelph.undo_btn {
    position: fixed;
    top: 78px;
    right: 29px;
    z-index: 2147483647;
    padding: 6px 12px 6px 12px;
    font-size: 18px;
}

.cntfelph.btn, .undo_btn_w_2 {
    transition: all 0.2s ease-out!important;
}

.cntfelph.btn {
    transition-property: background-color, opacity!important;
}

.undo_btn_w_2 {
    transition-property: opacity!important;
}

.cntfelph.btn:active {
    transition: none!important;
}

/*> mods */
.opacity_0 {
    opacity: 0;
}

.opacity_1 {
    opacity: 1;
}
/*< mods */
