.err {
    position: fixed;
    bottom: 0px;
    left: 0;
    background-color: #da4747;
    width: 100%;
    z-index: 2147483647;
}

.er_msg {
    white-space: pre-wrap;
    text-align: center;
    padding: 10px;
    padding-top: 35px;
    line-height: 20px;
}


.er_close_btn {
    position: absolute;
    top: 7px;
    right: 7px;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.er_close_btn svg {
    height: 20px;
    width: 20px;
    fill: white;
    transition: none;
}

.reload_ui_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*> mods */
.none {
    display: none;
}

.er_highlighted {
    background-color: #fbff75;
}

.er_highlighted .er_msg {
    color: #212121;
}   

.er_highlighted .er_close_btn svg {
    fill: #212121
}
/*< mods */
