body {
    overflow: hidden;
    margin: 0;
}

html, body {
    height: 100%;
}
/*< general */

/*> images */
.img_div {
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
}

.video_img_div {
    display: flex;
}
/*< images */

/*> default new tab page link */
.link_to_default_new_tab {
    position: fixed;
    top: 8px;
    right: 8px;
    cursor: pointer;
    outline: none;
}

.link_to_default_new_tab svg {
    width: 22px;
    height: 22px;
    display: block;
    stroke: white;
    stroke-width: 1px;
}

.link_to_default_new_tab:focus svg {
    fill: #3892ff;
}

.link_to_default_new_tab svg, .using_mouse .link_to_default_new_tab svg {
    fill: #212121;
}
/*< default new tab page link */

/*> transition */
.img_div {
    transition: all 1s ease-in-out;
}

.img_div {
    transition-property: opacity;
}
/*< transition */

/*> mods */
.hidden {
    visibility: hidden;
}

.opacity_0 {
    opacity: 0;
}

.z_index_minus_1 {
    z-index: -1;
}

.no_tr {
    transition: none;
}

.top {
    align-items: end;
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.bottom {
    align-items: flex-end;
    justify-content: center;
}

.left_top {
    align-items: end;
    justify-content: end;
}

.left_center {
    align-items: center;
    justify-content: end;
}

.left_bottom {
    align-items: flex-end;
    justify-content: end;
}

.right_top {
    align-items: end;
    justify-content: flex-end;
}

.right_center {
    align-items: center;
    justify-content: flex-end;
}

.right_bottom {
    align-items: flex-end;
    justify-content: flex-end;
}
/*< mods */