body {
    overflow: hidden;
}

html, body {
    height: 100%;
}

body, .bookmarks_bar {
    margin: 0;
}

.bookmarks_bar, .cm, .subtree, .scroller, .fd, .fdfdcd, .fd_folder_window {
    background-color: white;
}

.subtree, .cm  {
    border: solid 1px #bababa;
}

.folder svg, .fd_folder_svg svg  {
    height: 14px;
    vertical-align: -3px;
}

.folder svg, .not_fitting_bookmarks_bookmark svg, .fd_folder_svg svg  {
    width: 16px;
}

.folder svg, .not_fitting_bookmarks_bookmark svg, .fd_folder_svg svg {
    fill: #5a5a5a;
}

.expand_icon, .fd_expand_icon, .fd_folder_no_expand_icon {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #5a5a5a;
    font-size: 0;
}

.expand_icon, .scroller_arrows, .fd_expand_icon, .fd_folder_no_expand_icon {
    width: 0;
    height: 0;
}

.subtree .entries_w:empty:after, .disabled_cmi {
    color:#a1a192;
}

.cmi:hover, .bookmark:hover, .selected_subtree + .subtree_bookmark, .empty_hovered_entry_w {
    background-color: #ebebeb;
}

.protecting_screen, .fd_protecting_screen {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.fd_protecting_screen {
    position: absolute;
    top: 0;
    left: 0;
}
/*< general */

/*> images */
.img_div {
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
}
/*< images */

/*> bookmarks bar */
.bookmarks_bar_entry {
    display: inline-table;
    padding-top: 7px;
    padding-bottom: 6px;
}

.other_bookmarks_entry {
    order: 2;
}

.other_bookmarks_entry + .bookmarks_bar_more_area_separator {
    display: initial;
}

.not_fitting_bookmarks_bookmark svg {
    height: 10px;
    vertical-align: -1px;
}

.bookmarks_bar {
    padding-right: 10px;
    padding-left: 6px;
    border-bottom: solid 1px #dfdfdf;
    position: absolute;
    width: 100%;
    min-height: 39px;
    z-index: 1;
    box-sizing: border-box;
}

.no_bookmarks_message {
    padding: 10px 6px 12px 6px;
    color: #646464;
}

.bookmarks_bar_subtree > .entries_w {
    display: inline-block;
}

.bookmarks_bar_bookmark {
    padding: 3px 6px 5px 6px;
    max-width: 150px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}

.bookmarks_bar_bookmark:not(.not_fitting_bookmarks_bookmark) {
    display: block;
}

.selected_subtree + .bookmarks_bar_bookmark  {
    background-color: #d1d1d1;
}

.not_fitting_bookmarks_bookmark {
    display: inline-table;
}

.bookmarks_bar_bookmark, .subtree_bookmark {
    text-decoration: none;
    cursor: default;
}

.bookmarks_bar_more_area_separator {
    height: 16px;
    width: 1px;
    background-color: #cdcdcd;
    margin-right: 4px;
    order: 1;
    align-self: center;
    display: none;
}

.icon {
    width: 16px;
    height: 16px;
}

.bookmark {
    position: relative;
}

.dragged_item .bookmark {
    background-color: transparent;
}

.link {
    color: black;
}

.icon {
    vertical-align: -4px;
}

.bookmark_title {
    margin-left: 12px;
}

.bookmarks_bar_more_area {
    float: right;
    display: flex;
}

.not_fitting_bookmarks_bookmark {
    margin-right: 9px;
    padding-right: 2px;
    padding-left: 2px;
}

.subtree {
    position: fixed;
    max-width: 400px;
    padding: 2px 0 2px 0;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 2;
}

.subtree .entries_w:empty {
    padding: 4px 24px 3px 36px;
 }
 
.subtree .entries_w:empty:after {
     content: '(__MSG_empty_subtree_content__)';
 }

.subtree::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.subtree_bookmark {
    display: block;
    padding: 3px 24px 3px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.subtree_bookmark .bookmark_title {
    margin-left: 10px;
    vertical-align: -1px;
}

.expand_icon {
    margin-top: 5px;
    right: 7px;
    position: absolute;
}

.scroller {
    position: fixed;
    height: 25px;
    z-index: 1;
}

.scroller_down {
    bottom: 1px;
}

.scroller_up {
    top: 1px;
}

.scroller_arrow {
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroller_arrow_up {
    border-bottom: 5px solid #5a5a5a;
}

.scroller_arrow_down {
    border-top: 5px solid #5a5a5a;
}

/*>1 drag and drop */
.dragged_item {
    position: fixed;
    z-index: 1;
    opacity: 0.7;
    pointer-events: none;
}

.drop_area {
    position: absolute;
}

.bookmarks_bar_subtree .drop_area {
    display: inline-block;
    width: 2px;
    height: 26px;
    margin-left: -1px;
    margin-top: 6px;
    background-color: black;
    z-index: 1;
}

.dragged_item {
    max-width: 364px;
}

.bookmarks_bar_subtree > .entries_w >  .drop_area {
    border-right: 2px solid black;
}

.bookmarks_bar_subtree > .entries_w >  .drop_area, .bookmarks_bar_subtree > .entries_w >  .drop_area:after {
    width: 7px;
    background-color: unset;
}

.bookmarks_bar_subtree > .entries_w >  .drop_area {
    margin-left: -8px;
}

.bookmarks_bar_subtree > .entries_w > .drop_area:after {
    content: '';
    margin-left: 9px;
    display: block;
    height: inherit;
}

.subtree .drop_area, .subtree .drop_area:after  {
    width: 100%;
    height: 5px;
}

.subtree .drop_area {
    margin-top: -6px;
    border-bottom: 2px solid black;
    background-color: transparent;
    z-index: 1;
}

.subtree .drop_area:after {
    content: '';
    display: block;
    margin-top: 7px;
}

.subtree .drop_area:first-child, .subtree .drop_area:last-child {
    border-bottom-width: 1px;
}

.subtree .drop_area:first-child, .subtree .drop_area:last-child:after {
    height: 0;
}

.subtree .drop_area:first-child {
    margin-top: 0;
}

.subtree .drop_area:last-child {
    margin-top: -6px;
}

.subtree .drop_area:first-child:after {
    margin-top: 1px;
}

.dragged_item .subtree_bookmark {
    margin-right: -18px;
}

.dragged_item .expand_icon, .dragged_item .subtree_bookmark .icon, .dragged_item .subtree_bookmark svg {
    display: none;
}
/*<1 drag and drop */
/*< bookmarks bar */

/*> context menu */
.cm {
    z-index: 2;
    position: fixed;
    width: 249px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: default;
}

.cmi {
    padding: 4px 0 4px 36px;
}

.copy_cmi {
    display: none;
}

.disabled_cmi {
    pointer-events: none;
}

.cm hr {
    margin: 0;
    border: none;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #e9e9e9;
}
/*< context menu */

/*> folder dialog */
.fd, .fdfdcd {
    border: solid 1px #b2b2b2;
}

.fd_input, .fd_folder_window {
    border: 1px solid #b1b1b1;
}

.fd_label, .fd_input, .fd_btn, .fd_title {
    color: #212121;
}

.fd_input, .fd_btn, .fd_folder_title_renaming {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 12px;
}

.fd_btn, .fdfdcd_message {
    color: #757575;
}

.fd {
    margin-top: 54px;
}

.fd, .fdfdcd {
    position: fixed;
    z-index: 2;
    padding: 16px;
    width: 480px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 3px;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
}

.fd_rename_folder {
    width: 288px;
}

.fdfdcd {
    position: absolute;
    height: auto;
    width: 416px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.fd_close_btn, .fdfdcd_close_btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 4px;
    right: 4px;
    outline: none;
    display: block;
    padding: 7px;
    border-radius: 2px;
}

.fd_close_btn svg, .fdfdcd_close_btn svg {
    height: 10px;
    width: 10px;
    fill: #727272;
    display: block;
}

.fd_close_btn:hover, .fdfdcd_close_btn:hover {
    background-color: #eaeaea;
}

.fd_close_btn:active, .fdfdcd_close_btn:active {
    background-color: #e2e2e2;
}

.fd_title, .fdfdcd_title {
    font-size: 15px;
    margin-top: 1px;
}

.fdfdcd_title {
    margin-bottom: 10px;
}

.fd_input_area {
    display: flex;
    margin-top: 12px;
}

.fd_input_area {
    margin-top: 17px;
}

.fd_labels_w {
    margin-right: 16px;
}

.fd_inputs_w, .fd_input {
    width: 100%;
}

.fd_label, .fd_input {
    display: block;
}

.fd_label:not(:last-child), .fd_input:not(:last-child) {
    margin-bottom: 8px;
}

.fd_label {
    padding-bottom: 7px;
    padding-top: 5px;
}

.fd_input {
    outline: none;
    display: inline-block;
    padding: 4px 7px 6px 7px;
    box-sizing: border-box;
    border-radius: 2px;
}

.fd_input:focus, .fd_folder_window:focus {
    box-shadow: 0 0 0 2px #b3cefb;
}

.fd_folder_window:focus {
    border-radius: 2px;
}

.fd_folder_title_renaming {
    border-color: #1967d2;
}

.fd_folder_window {
    width: 100%;
    height: 328px;
    box-sizing: border-box;
    margin-top: 8px;
    overflow: auto;
    white-space: nowrap;
    outline: none;
}

.fd_folder_window, .fd_rename_folder .fd_input_area {
    margin-bottom: 24px;
}

.fd_folder_window:focus .selected_fd_folder_title {
    background-color: #0078d7;
    color: white;
}

.fd_save_and_cancel_btns_w {
    float: right;
}

.fd_btn {
    outline: none;
    border: 1px solid #b1b1b1;
    width: __MSG_fd_btn_width__;
    padding-top: 4px;
    padding-bottom: 6px;
    background-color: #f9f9f9;
    font-weight: 500;
}

.fd_rename_folder .fd_btn {
    width: __MSG_fd_rename_folder_btns_width__;
}

.fdfdcd .fd_btn {
    width: __MSG_fdfdcd_btns_width__;
}

.fd_btn {
    border-radius: 2px;
}

.fd_btn:hover {
    background-color: #fafafa;
}

.fd_btn:active {
    background-color: #efefef;
}

.fd_new_folder_btn {
    float: left;
}

.fd_save_btn, .fdfdcd_save_btn {
    margin-right: 8px;
    color: white;
    position: relative;
    border: none;
    padding-top: 5px;
    padding-bottom: 7px;
}

.fd_save_btn, .fdfdcd_save_btn {
    background-color: #4285f4;
}

.fd_save_btn:hover, .fdfdcd_save_btn:hover {
    background-color: #4986ea;
}

.fd_save_btn:active, .fdfdcd_save_btn:active {
    background-color: #659bf6;
}

.fdfdcd_message {
    font-size: 13px;
    margin-bottom: __MSG_fdfdcd_message_margin_bottom__;
}

.fd_folder {
    display: flex;
    height: 22px;
    position: relative;
}

.fd_folder_title {
    display: inline-block;
    margin-right: 6px;
}


.fd_folder_title {
    padding: 3px 3px 3px 2px;
}

.fd_folder_title:empty {
    height: 16px;
    vertical-align: -6px;
}

.fd_folder_title_renaming {
    outline: none;
    border-style: solid;
    border-width: 1px;
    padding: 4px 8px 6px 8px;
    position: absolute;
    top: -3px;
    left: 34px;
}

.fd_expand_icon, .fd_folder_no_expand_icon {
    margin-left: 6px;
    margin-right: 7px;
    display: inline-block;
    margin-top: 7px;
}

.fd_folder_no_expand_icon {
    border-color: transparent;
}

.fd_folder_svg {
    display: inline-block;
    padding-right: 9px;
    padding-top: 3px;
}

.fd_folder_svg svg {
    width: 14px;
    display: block;
}

.fd_cm {
    z-index: 2;
    width: 119px;
}


.fd_cmi {
    padding-left: 26px;
}
/*< folder dialog */

/*> transition */
.img_div {
    transition: opacity 1s ease-in-out;
}

.bookmarks_bar_bookmark {
    transition: background-color 0.3s ease-out;
}

.fd, .fdfdcd, .dragged_item, .fd_close_btn, .fdfdcd_close_btn {
    transition: all 0.2s ease-out;
}

.fd, .fdfdcd, .dragged_item {
    transition-property: opacity;
}

.fd_close_btn, .fdfdcd_close_btn {
    transition-property: background-color;
}
/*< transition */

/*> mods */
.none {
    display: none;
}

.opacity_0 {
    opacity: 0;
}

.hidden {
    visibility: hidden;
}

.overflow_scroll {
    overflow: scroll;
}

.margin_right_4 {
    margin-right: 4px;
}

.top_0 {
    top: 0; 
}

.left_0 {
    left: 0; 
}

.z_index_minus_1 {
    z-index: -1;
}

.scroller_padding_up {
    padding-top: 25px;
}

.scroller_padding_down {
    padding-bottom: 25px;
}

.selected_fd_folder_title {
    background-color: #f0f0f0;
}

.opened_fd_folder_svg {
    fill: #0078d7!important;
}

.fd_folder_exapanded {
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 5px solid #5a5a5a;
    margin-left: 4px;
    margin-right: 6px;
    margin-top: 9px;
}

.no_tr {
    transition: none;
}
/*< mods */

/*> new tab iframe */
.new_tab_iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
}
/*> new tab iframe */