body {
    overflow: hidden;
    margin: 0;
}

html, body {
    height: 100%;
}
/*< general */

.msg_to_user {
    position: fixed;
    width: 800px;
    padding: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    font-size: 23px;
    color: #212121;
    background-color: #fbff75;
    border: 4px solid #212121;
    cursor: pointer;
    white-space: pre-wrap;
}

/*> backgrounds */
.background_div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.video_background_div {
    display: flex;
}
/*< backgrounds */

/*> default new tab page link */
.link_to_default_new_tab {
    position: fixed;
    top: 8px;
    right: 8px;
    cursor: pointer;
    outline: none;
}

.link_to_default_new_tab svg {
    width: 22px;
    height: 22px;
    display: block;
    stroke: white;
    stroke-width: 1px;
}

.link_to_default_new_tab:focus svg {
    fill: #3892ff;
}

.link_to_default_new_tab svg, .using_mouse .link_to_default_new_tab svg {
    fill: #212121;
}
/*< default new tab page link */

/*> transition */
.background_div {
    transition: all 1s ease-in-out;
}

.background_div {
    transition-property: opacity, left, right, top, bottom;
}
/*< transition */

/*> mods */
.hidden {
    visibility: hidden;
}

.opacity_0 {
    opacity: 0;
}

.z_index_minus_1 {
    z-index: -1;
}

.no_tr {
    transition: none;
}

.top {
    align-items: end;
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.bottom {
    align-items: flex-end;
    justify-content: center;
}

.left_top {
    align-items: end;
    justify-content: end;
}

.left_center {
    align-items: center;
    justify-content: end;
}

.left_bottom {
    align-items: flex-end;
    justify-content: end;
}

.right_top {
    align-items: end;
    justify-content: flex-end;
}

.right_center {
    align-items: center;
    justify-content: flex-end;
}

.right_bottom {
    align-items: flex-end;
    justify-content: flex-end;
}

.from_right_to_left_0 {
    left: 0;
}
 
.from_right_to_left_100 {
    left: 100%;
}

.from_left_to_right_0 {
    right: 0;
}
 
.from_left_to_right_100 {
    right: 100%;
}

.from_top_to_bottom_0 {
    bottom: 0;
}
 
.from_top_to_bottom_100 {
    bottom: 100%;
}

.from_bottom_to_top_0 {
    top: 0;
}
 
.from_bottom_to_top_100 {
    top: 100%;
}
/*< mods */